*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid red;
}
.form-section{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.box{
    width: 50%;
    height: 100vh;
    background-color: rgba(13,15,18,255);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box h3,p{
    color: white;
}
.logoimg{
    margin-top: 73px;
    height: 65px;
}
.box h3{
    margin-right: 260px;
    margin-bottom: 3px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 16px;
}
.box input{
    height: 35px;
    width: 400px;
    border: 0.1px solid white;
    border-color: rgba(75,76,79,255);
    background-color: rgba(13,15,18,255);
    border-radius: 2px;
}
.background{
    height: 100vh;
    width: 63vw;
}
h3:first-of-type{
    margin-top: 65px;
}
h3:last-of-type{
    margin-top: 30px;
    margin-right: 328px;
}
.box button:first-of-type{
    margin-top: 25px;
    height: 35px;
    width: 400px;
    background-color: rgba(0,116,171,255);
    border: none;
    color: white;
    font-size: 15px;
}
.anchordiv{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.anchordiv a{
    /* margin-top: 45px; */
    color: rgba(46,159,211,255);
    text-decoration: none;
    font-family: sans-serif;
    font-size: 17px;
}
.anchordiv a:last-child{
    margin-top: 25px;
    color: rgba(46,159,211,255);
    text-decoration: none;
    font-family: sans-serif;
    font-size: 17px;
}
hr{
    color:rgba(29,31,33,255);
    margin-top: 15px;
    width: 400px;
}
.box button:last-of-type{
    margin-top: 25px;
    height: 35px;
    width: 400px;
    background-color: rgba(44,50,56,255);
    border: none;
    color: white;
    font-size: 17px;
}
.box p:first-of-type{
    margin-top: 80px;
    font-size: 12px;
    font-family: sans-serif;
    color: rgba(155,155,157,255);
}
.box p:last-of-type{
    margin-top: 4px;
}
.box p:last-of-type a{
    color: rgba(155,155,157,255);
    font-size: 12px;
    font-family: sans-serif;
}
.img-section{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(./login-bg.jpg);
    background-size: cover;
    h1{
        color:white;
        font-size: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
    }
    h1 span{
        font-weight: 700;
    }
    button{
        margin-top: 30px;
        width: 200px;
        height: 40px;
        background: none;
        color: white;
        border-width: 0.25px;
    }
}
/* .img-section h1{

} */